version: '3.8'

services:
  verify-service:
    container_name: inji-verify-service
    image: mosipid/inji-verify-service:0.16.0
    user: root
    ports:
      - "8082:8080"
    environment:
      - active_profile_env=default
      - DATABASE_HOST=postgres
      - DATABASE_PORT=5432
      - DATABASE_NAME=inji_verify
      - DATABASE_SCHEMA=verify
      - DATABASE_USERNAME=postgres
      - DATABASE_PASSWORD=postgres
      - INJI_VP_REQUEST_LONG_POLLING_TIMEOUT=55000
      - INJI_VP_SUBMISSION_BASE_URL=https://VERIFY_SERVICE_PROXY_FOR_LOCALHOST/v1/verify
      - INJI_DID_VERIFY_URI=did:web:VERIFY_SERVICE_PROXY_FOR_LOCALHOST:v1:verify
      - INJI_DID_VERIFY_PUBLIC_KEY_URI=did:web:VERIFY_SERVICE_PROXY_FOR_LOCALHOST:verify#key-0
      - INJI_KEYSTORE_FILE_PASS=mosip
      - INJI_VERIFY_REDIRECT_URI=https://VERIFY_SERVICE_PROXY_FOR_LOCALHOST
    depends_on:
      - postgres

  verify-ui:
    container_name: inji-verify-ui
    image: mosipid/inji-verify-ui:0.16.0
    ports:
      - "3001:8000"
    environment:
      - DEFAULT_TITLE=Inji Verify
      - DEFAULT_LANG=en
      - INTERNET_CONNECTIVITY_CHECK_ENDPOINT=${INTERNET_CONNECTIVITY_CHECK_ENDPOINT-https://dns.google/}
      - INTERNET_CONNECTIVITY_CHECK_TIMEOUT=${INTERNET_CONNECTIVITY_CHECK_TIMEOUT-10000}
      - OVP_QR_HEADER={OVP_QR_HEADER-INJI_OVP://payload=}
      - VERIFIABLE_CLAIMS_CONFIG_URL=/assets/config.json
      - VP_SUBMISSION_SUPPORTED=false
      - CLIENT_ID=inji-verify-ui
      - CLIENT_ID_DID=did:web:VERIFY_SERVICE_PROXY_FOR_LOCALHOST:v1:verify
      - DISPLAY_TIMEOUT=120000
    volumes:
      - ./config/config.json:/usr/share/nginx/html/assets/config.json
      - ./config/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - verify-service

  postgres:
    image: postgres:13
    container_name: inji-verify-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: inji_verify
    ports:
      - "5434:5432"
    volumes:
      - ./db-init:/docker-entrypoint-initdb.d
      - inji-verify-db:/var/lib/postgresql/data

volumes:
  inji-verify-db: